<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870590230527-om22jm4hth18i1s0lgh9mdm9nf353hi9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870590230527-om22jm4hth18i1s0lgh9mdm9nf353hi9</string>
	<key>API_KEY</key>
	<string>AIzaSyAoXbl_Cimacj1EZi8en_DpaYvYAIhpnZw</string>
	<key>GCM_SENDER_ID</key>
	<string>870590230527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>noredeen.KAMUN-20</string>
	<key>PROJECT_ID</key>
	<string>kamun-43937</string>
	<key>STORAGE_BUCKET</key>
	<string>kamun-43937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870590230527:ios:c8cc9b586b17ffec1141ca</string>
	<key>DATABASE_URL</key>
	<string>https://kamun-43937.firebaseio.com</string>
</dict>
</plist>